{{define "index"}}
{{template "header"}}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
            <img src="/app/images/logo.png" alt="Docker WebManager" class="logo"/>
        </span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">Containers 1</a>
            <a class="mdl-navigation__link" href="/">Containers 2</a>
            <a class="mdl-navigation__link" href="/">Containers 3</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell--middle mdl-cell--12-col title">
                    <h1 class="title">{{.Name}}</h1>
                    <div class="subtitle-wrapper">Id : <span class="subtitle shorten-id">{{.ID}}</span></div>
                </div>
                <div class="mdl-cell--12-col">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        Play
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        Pause
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        Stop
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        Restart
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        Destroy
                    </button>
                </div>
            </div>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <div class="mdl-tabs__tab-bar">
                    <a href="#container-info-panel" class="mdl-tabs__tab is-active">Container</a>
                    <a href="#top-panel" class="mdl-tabs__tab">Top</a>
                    <a href="#stats-panel" class="mdl-tabs__tab">Stats</a>
                    <a href="#logs-panel" class="mdl-tabs__tab">Logs</a>
                    <a href="#console-panel" class="mdl-tabs__tab">Console</a>
                </div>

                <div class="mdl-tabs__panel is-active" id="container-info-panel">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col">
                            <h3 class="title-infos">Container Infos</h3>
                            <div class="mdl-grid">
                                <div class="mdl-cell--6-col">
                                    <div class="">Id : <span class="shorten-id">{{.ID}}</span></div>
                                    <div class="">Name : {{.Name}}</div>
                                    <div class="">Image :
                                        {{range .RepoTags}}
                                        {{.}}
                                        {{end}}
                                    </div>
                                </div>
                                <div class="mdl-cell--6-col">
                                    <div class=""> Command :
                                        {{range .Args}}
                                        {{.}}
                                        {{end}}
                                    </div>
                                    <div class="">Size : {{.ShmSize}}</div>
                                </div>
                            </div>
                            <div class="mdl-grid">
                                <h3 class="title-infos">Environment</h3>
                                <div class="mdl-cell--6-col">
                                    <div class="">Path : {{.Path}}</div>
                                    <div class="">Env :
                                        {{range .Env}}
                                        {{.}}
                                        {{end}}
                                    </div>
                                </div>
                                <div class="mdl-cell--6-col">
                                    <div class=""> Hostname : {{.Hostname}}</div>
                                    <div class="">DomainName : {{.Domainname}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <h3 class="title-infos">Network Infos</h3>
                            <div class="mdl-grid">
                                <div class="mdl-cell--12-col">
                                    <div class="">IP : <span class="shorten-id">{{.IPAddress}}</span></div>
                                    <div class="">Gateway : {{.Gateway}}</div>
                                    <div class="">MAC : {{.MacAddress}}</div>
                                </div>
                            </div>
                            <h3 class="title-infos">Exposed Ports</h3>
                            <div class="mdl-grid">
                                <div class="mdl-cell--12-col">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Private</th>
                                            <th>Public</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{range .ExposedPorts}}
                                        <tr>
                                            <td>{{.Private}}</td>
                                            <td>{{.Public}}</td>
                                        </tr>
                                        {{end}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-tabs__panel" id="top-panel">
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Material</th>
                            <th>Quantity</th>
                            <th>Unit price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                            <td>25</td>
                            <td>$2.90</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                            <td>50</td>
                            <td>$1.25</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                            <td>10</td>
                            <td>$2.35</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mdl-tabs__panel" id="targaryens-panel">
                    <ul>
                        <li>Viserys</li>
                        <li>Daenerys</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>


{{template "footer"}}
{{end}}