{{define "index"}}
{{template "header"}}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><img src="app/images/logo.png" alt="Docker WebManager" description="Docker WebManager"/></span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Containers</a>
            <a class="mdl-navigation__link" href="">Images</a>
            <a class="mdl-navigation__link" href="">????</a>
            <a class="mdl-navigation__link" href="">Profit!</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell--middle mdl-cell--12-col title">
                    <h1>Containers</h1>
                </div>
                <div class="mdl-cell--12-col">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        Deploy Container
                    </button>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell--12-col">
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th class="small">Status</th>
                            <th>Node</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range .}}
                        <tr>
                            <td class="status">
                                <button class="mdl-button mdl-js-button mdl-button--icon statusIcon {{.StatusView}}"
                                        disabled>
                                    <i class="material-icons">fiber_manual_record</i>
                                </button>
                                {{if eq .StatusView "container-running"}}
                                <a href="/containers/restart/{{.ID}}" class="btRestart {{.StatusView}}">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">refresh</i>
                                    </button>
                                </a>
                                {{else}}
                                <a href="/containers/start/{{.ID}}" class="btPlay {{.StatusView}}">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">play_arrow</i>
                                    </button>
                                </a>
                                {{end}}
                                <a {{if eq .StatusView "container-paused"}} href="/containers/unpause/{{.ID}}" {{else}}
                                href="/containers/pause/{{.ID}}"{{end}} class="btPause {{.StatusView}}">
                                <button class="mdl-button mdl-js-button mdl-button--icon">
                                    <i class="material-icons">pause</i>
                                </button>
                                </a>
                                <a href="/containers/stop/{{.ID}}" class="btStop {{.StatusView}}">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">stop</i>
                                    </button>
                                </a>
                                <span>{{.Status}}</span>
                            </td>
                            <td>Node here</td>
                            <td>
                                {{range .Names}}
                                {{.}}
                                {{end}}
                            </td>
                            <td>{{.Image}}</td>
                            <td>
                                <a href="/containers/{{.ID}}" class="btInspect mdl-color-text--indigo">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">search</i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
{{template "footer"}}
{{end}}