{{define "index"}}
{{template "header"}}

<aside>
    <a href="#!" class="brand-logo"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse btn-floating btn-large">
        <i class="material-icons">menu</i>
    </a>
    <ul class="side-nav fixed hide-on-med-and-down">
        <li><a href="/containers">Containers</a></li>
        <li><a href="">Images</a></li>
        <li><a href="">Volume</a></li>
        <li><a href="">???</a></li>
        <li><a href="">Profit!</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="/containers">Containers</a></li>
        <li><a href="">Images</a></li>
        <li><a href="">Volume</a></li>
        <li><a href="">???</a></li>
        <li><a href="">Profit!</a></li>
    </ul>
</aside>
<main>
    <div class="row">
        <h1>Containers</h1>
    </div>
    <div class="row">
        <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large red">
                <i class="large mdi-navigation-menu"></i>
            </a>
            <ul>
                <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <table class="bordered">
            <thead>
            <tr>
                <th colspan="2">Status</th>
                <th>Node</th>
                <th>Name</th>
                <th>Image</th>
                <th colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            {{range .}}
            <tr>
                <td class="status">
                    <a class="btn-floating
                    {{if eq .StatusView "container-running"}}
                    green
                    {{else if eq .StatusView "container-paused" }}
                    orange
                    {{ else }}
                    red
                    {{end}}
                    ">
                    <i class="material-icons">fiber_manual_record</i>
                    </a>
                </td>
                <td class="status-text">
                    <span>{{.Status}}</span>
                </td>
                <td>Node here</td>
                <td class="name">
                    <div class="edit-button">
                        <i class="tiny material-icons">edit</i>
                    </div>
                    <div class="show-value">
                        {{range .Names}}
                        {{.}}
                        {{end}}
                    </div>
                    <div class="input-value">
                        <form action="/containers/rename/{{.ID}}" method="POST">
                            <input type="text" class="edit-input" name="newName" value="{{range .Names}}
                        {{.}}
                        {{end}}" size="10"/>
                            <button class="btn-floating" type="submit">
                                <i class="material-icons">send</i>
                            </button>
                        </form>
                    </div>
                </td>
                <td>{{.Image}}</td>
                <td class="status-action">
                    {{if eq .StatusView "container-running"}}
                    <a href="/containers/restart/{{.ID}}" class="btn-floating green btRestart {{.StatusView}}">
                        <i class="material-icons">refresh</i>
                    </a>
                    {{else}}
                    <a href="/containers/start/{{.ID}}" class="btn-floating green btPlay {{.StatusView}}">
                        <i class="material-icons">play_arrow</i>
                    </a>
                    {{end}}
                    <a {{if eq .StatusView "container-paused"}} href="/containers/unpause/{{.ID}}" {{else}}
                    href="/containers/pause/{{.ID}}"{{end}} class="btn-floating orange btPause {{.StatusView}}">
                    <i class="material-icons">pause</i>
                    </a>
                    <a href="/containers/stop/{{.ID}}" class="btn-floating red btStop {{.StatusView}}">
                        <i class="material-icons">stop</i>
                    </a>
                   <!-- <a data-href="#safe-delete" href="/containers/delete/{{.ID}}"
                       class="modal-trigger btn-floating grey darken-3 btDelete {{.StatusView}}">
                        <i class="material-icons">delete</i>
                    </a>-->
                </td>
                <td>
                    <a href="#safe-delete" data-href="/containers/delete/{{.ID}}"
                       class="modal-trigger btn-floating grey darken-3 btDelete {{.StatusView}}">
                        <i class="material-icons">delete</i>
                    </a>

                    <a href="/containers/inspect/{{.ID}}" class="btn-floating indigo btInspect">
                        <i class="material-icons">search</i>
                    </a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>

    <!-- modal safe delete -->
    <div id="safe-delete" class="modal">
        <div class="modal-content">
            <h4>Confirm delete</h4>
            <form method="GET" id="form-safe-delete">
                <p>Please type DELETE in order to process the delete</p>
                <label for="input-safe-delete">Type here</label>
                <input type="text" class="validate" id="input-safe-delete"/>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn modal-action modal-close waves-effect waves-red ">Close</button>
            <button id="bt-safe-delete" class="btn modal-action modal-close waves-effect waves-green ">DELETE</button>
        </div>
    </div>
</main>
{{template "footer"}}
{{end}}