<script>
    class ContainersJson extends HTMLTableElement {

        constructor() {
            console.log("con");
        }

        set containers(val) {
            this._containers = val;
            this.update();
        }

        get containers() {
            return this._containers;
        }

        createdCallback() {
            let templateTable = `
            <table>
            <tr>
                <th style="border: 1px solid black; color: blue">Names</th>
                <th style="border: 1px solid black">IMG</th>
            </tr>
            </table>
            `;
            this.innerHTML = templateTable;

            this.containers = JSON.parse('[{"Id":"3acfa8ade93be35512008759581e6d48b8dbd9949e6208611f661d146573046a","Names":["jenkins"],"Image":"jenkins","ImageID":"285c9f0f9d3d23fe2763061c53cf9858001cb11c1b1b27dadf58d8f132f2aa7f","Command":"/bin/tini -- /usr/local/bin/jenkins.sh","Created":1454529693,"Ports":[{"PrivatePort":50000,"Type":"tcp"},{"PrivatePort":8080,"Type":"tcp"}],"Labels":{},"Status":"Up 51 minutes","HostConfig":{"NetworkMode":"default"}},{"Id":"3acfa8ade93be35512008759581e6d48b8dbd9949e6208611f661d146573046a","Names":["wordpress"],"Image":"wordpress","ImageID":"285c9f0f9d3d23fe2763061c53cf9858001cb11c1b1b27dadf58d8f132f2aa7f","Command":"/bin/tini -- /usr/local/bin/jenkins.sh","Created":1454529693,"Ports":[{"PrivatePort":50000,"Type":"tcp"},{"PrivatePort":8080,"Type":"tcp"}],"Labels":{},"Status":"Up 51 minutes","HostConfig":{"NetworkMode":"default"}}]');


            this.update();
        }

        update() {
            let templateLines = "";

            for (let o of this.containers) {
                let namesContent = 'Names: ' + o.Image;
                let imgContent = '<img style="height: 100px;" src="https://raw.githubusercontent.com/docker-library/docs/master/' + o.Image + '/logo.png"/>';
                let templateLine = `
                <tr>
                    <td style="border: 1px solid black">${namesContent}</td>
                    <td style="border: 1px solid black">${imgContent}</td>
                </tr>
                `;
                templateLines = templateLines + templateLine;
            }
            let templateTable = `
            <table>
                <tr>
                    <th style="border: 1px solid black">Names</th>
                    <th style="border: 1px solid black">IMG</th>
                </tr>
                ${templateLines}
            </table>
            `;
            this.innerHTML = templateTable;
        }
    }


    document.registerElement('containers-json', ContainersJson);

</script>
