.list-info {
    list-style: none;
}

.title {
    margin-bottom:0px;
}

.subtitle-wrapper {
    margin-top: -0.5rem;
    margin-bottom: 2rem;
}

.title-infos {
    display:block;
    margin-top:0;
    color:#767676;
    font-weight:300;
}

span.key {
    font-weight:bold;
}

button.raw {
    margin-left: 1rem;
    width: 2rem;
    height: 1rem;
    font-size: 8px;
    cursor:pointer;
}

.content-grid {
    margin-bottom: 2rem;
}