.list-info {
    list-style: none;
}

.title {
    margin-bottom:0px;
}

.subtitle-wrapper {
    margin-top: -0.5rem;
    margin-bottom: 2rem;
}

.title-infos {
    font-size:20px;
    margin-top:-1rem;
    margin-bottom:0;
    font-style: italic;
}