li.back > a > span, li.back > a > i {
    font-size:2rem;
}

li.back > a > span {
    margin-left:2rem;
}

li.back > a > i {
    position: absolute;
    top: 1rem;
}

.list-info {
    list-style: none;
}

.menuLink {
    display:inline !important;
}
.menuLink.disabled {
    cursor:default;
}
.menuStatus {
    display:inline !important;
    color:white !important;
    float:right;
    margin-top:1.25rem;
    border-radius:1rem;
}

.title {
    margin-bottom: 0px;
}

.subtitle-wrapper {
    margin-bottom: 2rem;
}

.title-infos {
    display: block;
    margin-top: 0;
    color: #767676;
    font-weight: 300;
}

span.key {
    font-weight: bold;
}

button.raw {
    margin-left: 1rem;
    width: 2rem;
    height: 1rem;
    font-size: 8px;
    cursor: pointer;
}

.content-grid {
    margin-bottom: 2rem;
}

.tabs, .tabs > li > a {
    color: #3f51b5 !important;
}

.indicator {
    background-color: #3f51b5 !important;
}

.collection-header > h3, .collection-header > div > h3 {
    text-indent: 1rem;
}

div.raw-wrapper {
    position:absolute;
    left:295px;
    top:38px;
}

a.raw {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.modal {
    word-wrap: break-word;
}

.no-info {
    text-indent:2rem;
}