ul#nav-mobile {
    top: 0;
    margin: 0;
    width: 240px;
    overflow: hidden;
    left: 0;
    position: fixed;
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #FFF;
    z-index: 999;
    will-change: left;
}

.button-collapse {
    color: black;
}

.toolbar {
    padding-left:1rem;
}

main {
    margin-left: 242px;
    margin-top: -4rem;
}

table, tr, td, th {
    text-align: left !important;
}

.small {
    width: 2rem;
}

td.status {
    width: 4rem;
    padding-left: 1rem;
}

td.status > a {
    text-decoration: none;
}

td.status-text {
    width: 14rem;
}

.disabled > button {
    color: rgba(0, 0, 0, .26);
    cursor: auto;
}

.btAdd {
    float: right;
}

.edit-button {
    display: inline;
    cursor: pointer;
    visibility: hidden;
    float:right;
}

.edit-input {
    width:55% !important;
}

.input-value {
    display: none;
}




/* cache les checkbx du tableau */
/*th > .mdl-checkbox, td > .mdl-checkbox {*/
/*display:none !important;*/
/*}*/
@media screen and (max-width: 1024px) {
    img.logo {
        display: none;
    }

    main {
        margin-left: 0;
    }

    main > .row > h1 {
        text-indent: 4rem;
    }
}