.mdl-data-table {
    width:100%;
}
.mdl-layout__drawer {
    padding-top:1px;
    overflow: visible;
}

.mdl-layout-title {
    padding-left: 1rem !important;
}

.title {
    /*text-align: center;*/
    text-indent:1rem;
}

table, tr, td, th {
    text-align: left !important;
}

.small {
    width:1rem;
}

.statusIcon.container-running>i {
    color:green;
}
.statusIcon.container-paused>i {
    color:orange;
}
.statusIcon.container-stopped>i {
    color:red;
}

.btPlay.container-running {

}